{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {}
    ],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-spread",
    "@babel/plugin-transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "plugins": []
    }
  }
}